
    <section class="footer">
        <footer>
          <div class="row container-fluid align-items-center px-0 mx-0">
  
            <div class="col-md-4 text-center py-3 px-md-none">
              <img class="img-fluid footer-img1" src="images/bpslogo.png" alt="bps-logo" />
            </div>
  
            <div class="col-md-4 text-center py-3 px-md-none">
  
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">Memberships</h5>
                  <p class="card-text text-center">
                    <ul class="text-center text-md-left">
                <li><small>British Psychological Society</small></li>
                <li><small>Association of Family Therapy</small></li>
                <li><small>EMDR Association UK & Ireland</small></li>
              </ul>
            </p>
  
                </div>
              </div>
            </div>
  
            <div class="col-md-4 text-center py-3 px-md-none">
              <img class="img-fluid footer-img2" src="images/hcpclogo.png" alt="" />
            </div>
  
            <div class="col-12 copyright">
              <p class="text-center"><small>Copyright @ Linzi Carlin <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script></small></p>
            </div>
          </div>
        </footer>
      </section>
      <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"
      ></script>
    </body>
  </html>
  