<%- include("partials/header"); %>

<section class="container-fluid main m-4">
    <p>
        Originally from Cape Town, I have been practicing in the the UK since 1981. During that time I have worked in the 
        local NHS mental health services with Children, Adolescents, Adults, and also in the 
        learning disability area. I left NHS service in 2013
    </p>

    <p>
        I commenced a private practice in 1989. During this time my work with Adults, Children 
        and Adolescents has covered a broad range of problem areas. I have focused on some 
        specific areas such as work stress, eating disorders, obsessive compulsive disorder, 
        post-traumatic stress, and family and couple relationships. Between 1991 and 2007 I had 
        extensive experience working in GP surgeries, accepting a varied range of referrals in 
        that environment. This also included offering consultations to GP surgery staff dealing 
        with their patients' psychological difficulties. I continue to accept referrals locally 
        from GPs.
    </p>
</section>
<%- include("partials/footer"); %>