<%- include("partials/header"); %>

    <section class="container-fluid main py-4 m-4">
      <div class="d-flex justify-content-start">
        <p class="home-txt">
          I offer clinical psychology and family therapy services to the Hull
          and East Riding areas, and sometimes beyond.
        </p>
      </div>
      <div class="row d-flex justify-content-start">
        <div class="col-md-6">
          <p class="home-txt">
            I have training and experience in a number of therapeutic methods
            including:
          </p>
        </div>
        <div class="col-md-6 mb-4">
          <ul class="home-txt">
            <li>Family & Couple Therapy</li>
            <li>Cognitive Behaviour Therapy</li>
            <li>Eye Movement Desensitization & Reprocessing (EMDR)</li>
          </ul>
        </div>
      </div>
    </section>

    <%- include("partials/footer"); %>