body{
    background-color: #F9F7F5;
    /* background-color: #F0F4F5; */
    color: #204051;
    font-family: quicksand, sans-serif;
    padding-top: 7rem;
}

nav {
    background-color: #84a9ac !important;
    font-family: Lora, serif;
}

.navbar-toggler-icon {

    color: #204051;
}

.card {
    border: none;
    background-color: #F9F7F5;
    
}

.heading-card {
    text-align: end;
    margin-right: 5%;
}

.main {
    font-weight: 500;
    font-size: 1.1rem;
    margin: 4rem, 6rem, 3rem;
}

.copyright {
    opacity: 60%;
}

.btn {
    background-color: #84a9ac;
}

.home-txt {
    font-size: 1.3rem;
}

p.contact-info {
    font-size: 1.3rem;
}

a {
    color: #204051;
}

a:hover {
    color: #3b6978;
    text-decoration: none!important;
}

.footer-img1 {
    width: 33%;
    height: 33%;
}

.footer-img2 {
    width: 25%;
    height: 25%;
}

ul {
    list-style-type: none;
}

hr {
    width: 500px;
    height: 2px;
    text-align: flex-start;
    margin-left: 0;
    background-color: #84a9ac;
    border-style: none;
}

h1 {
    font-family: Lora, serif;
    font-weight: bold;
}


h3 {
    text-align: end;
    margin-right: 5%;
    font-family: Lora, serif;
    font-weight: semi-bold;
}

h5 {
    font-family: Lora, serif;
    font-weight: semi-bold;  
}

label {
    font-weight: semi-bold;
    font-size: 1.3rem;
}
/* 
@media only screen and (min-width: 768px) {
    .main {
        font-size: 1.4rem;
        margin: 4rem, 10rem, 3rem;
    }
} */
